<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="message-box _success">
                 <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h2> Your payment was successful </h2>
               <p> Thank you for your payment. we will <br>
be in contact with more details shortly </p>      
<h3 class="my-3">redirecting back in... {{timer}}</h3>
        </div> 
    </div> 
</div> 
</div> 