<div class="container-fluid d-flex p-0" style="height: 100vh; width: 100%;">
    <section class="col-4">
        <img src="../../../assets/images/login_london.jpg" class="p-0 img-fluid h-100" style="object-fit: cover;" alt="Error">
    </section>
    <section class="col-8 d-flex flex-column justify-content-center align-items-center" style="background-color: #F5F5F6;">    
        <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Log in to Agoura</h3>
        <div class="col-4 mt-5">
            <app-google-button></app-google-button>
            <app-facebook-button></app-facebook-button>
            <app-apple-button></app-apple-button>

            <hr style="width: 50vh;" class="mt-4" />
            
            <form action="" style="width: 50vh;" class="mt-4">
                <div>
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
                  </div>
                  <div>
                    <label for="inputPassword5" class="form-label">Password</label>
                    <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock"  placeholder="Enter your password">                
                  </div>
                  <app-login-button></app-login-button>
            </form>
    
        </div>

    </section>
</div>
