<table cTable hover>
    <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Owner</th>
      <th scope="col">Address</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Time Left</th>
      <th scope="col">Show</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of allAppartments">
      <th scope="row">1</th>
      <td>{{item.owner}}</td>
      <td>{{item.address.city}}</td>
      <td>{{item.title}}</td>
      <td>{{item.status}}</td>
      <td>{{item.timeLeft}}</td>
      <a class="btn btn-dark" value="show">Show</a>
    </tr>

    </tbody>
  </table>

  <p></p>
