<div class="container-md d-flex justify-content-center">
    <div class="w-md-50 my-5">
        <div class="card rounded rounded-3">

            <carousel [interval]="0" *ngIf="placeObj">
                <slide *ngFor="let image of placeObj.images">
                    <img class="card-img-top custom-image" src={{image}} alt="first slide"
                        style="display: flex; width: 100%" />
                </slide>
            </carousel>
            <h2 class="card-title text-center mt-3">{{placeObj.title}}</h2>

            <div class="card-body mt-3">
                <div class="container">
                    <div class="row mt-4">
                        <h3>Address</h3>
                        <div class="col-md-4 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">Country</span>
                            <input type="text" class="form-control" aria-label="Large" [value]="placeObj.address.country"  disabled>
                        </div>
                        </div>
                        <div class="col-md-4 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">City</span>
                            <input type="text" class="form-control" aria-label="Large" [value]="placeObj.address.city"  disabled>
                        </div>
                        </div>
                        <div class="col-md-4 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">Street</span>
                            <input type="text" class="form-control" aria-label="Large"[value]="placeObj.address.street"   disabled>
                        </div>
                        </div>
                        <div class="col-md-4 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">Zip</span>
                            <input type="text" class="form-control" aria-label="Large" [value]="placeObj.address.zipCode"  disabled>
                        </div>
                        </div>

                    </div>
                    <hr/>

                    <div class="row mt-4">
                        <h3>Features</h3>
                        <div class="col-md-4 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">bed rooms</span>
                            <input type="text" class="form-control" aria-label="Large" [value]="placeObj.features.bedRooms"  disabled>
                        </div>
                        </div>
                        <div class="col-md-4 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">guest rooms</span>
                            <input type="text" class="form-control" aria-label="Large" [value]="placeObj.features.guests"  disabled>
                        </div>
                        </div>
                        <div class="col-md-4 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">bath rooms</span>
                            <input type="text" class="form-control" aria-label="Large"[value]="placeObj.features.baths"   disabled>
                        </div>
                        </div>
                        <div class="col-md-4 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">kitchens</span>
                            <input type="text" class="form-control" aria-label="Large" [value]="placeObj.features.kitchen"  disabled>
                        </div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <div class="input-group">
                                <span class="input-group-text">area</span>
                                <input type="text" class="form-control" aria-label="Large" [value]="placeObj.features.area"  disabled>
                                <span class="input-group-text">&#13217;</span>

                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="row mt-4">
                        <h3 >Description</h3>
                        <div class="col-12 mt-3">
                            <div class="input-group">
                                <span class="input-group-text">About the Place</span>
                                <textarea type="text" class="form-control" aria-label="Large" disabled>{{placeObj.aboutPlace}}</textarea>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="row mt-4">
                        <h3>bid Info</h3>
                        <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">start bid price</span>
                            <input type="text" class="form-control" aria-label="Large" [value]="placeObj.startBid"  disabled>
                            <span class="input-group-text">$</span>
                        </div>
                        </div>
                        <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">bid duration</span>
                            <input type="text" class="form-control" aria-label="Large" [value]="placeObj.duration"  disabled>
                            <span class="input-group-text">days</span>

                        </div>
                        </div>
                        <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text">status</span>
                            <input type="text" class="form-control" [ngClass]="{'bg-success':placeObj.status=='approved','bg-warning':placeObj.status=='pending','bg-danger':placeObj.status=='canceled','bg-primary':placeObj.status=='sold'}" aria-label="Large"[value]="placeObj.status"   disabled>
                        </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="input-group">
                                <span class="input-group-text">category</span>
                                <input type="text" class="form-control"  aria-label="Large" [value]="placeObj.category || 'N/A'"   disabled>
                            </div>
                        </div>
                    </div>
                    <hr *ngIf="placeObj.status=='canceled'"/>
                    <div class="row mt-4" *ngIf="placeObj.status!='canceled'">
                        <h3>notes</h3>
                        <div class="col-12 mt-3" *ngIf="placeObj.status=='pending'">
                            <div class="input-group" [formGroup]="form">
                                <span class="input-group-text">notes</span>
                                <textarea type="text" formControlName="notes" name="notes" class="form-control" aria-label="Large" ></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around mt-3">
                            
                            <div><button class="btn btn-warning px-3" (click)="sendNotes()" [disabled]="placeObj.status!='pending'">send notes</button></div>
                            <div><button class="btn btn-success px-3" (click)="approve()" [disabled]="placeObj.status!='pending'">approve</button></div>
                            <div><button class="btn btn-danger px-3" (click)="cancel()" [disabled]="placeObj.status=='closed' || placeObj.status=='canceled' || placeObj.status=='sold'">cancel</button></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
