<header>
</header>

<!--<img src="/assets/photos/Agoura.png" alt="Agoura is Your Marketplace" class="image">-->
<section class="py-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Agoura" class="img-fluid">
      </div>
      <div class="col-md-7">
        <h1 class="mb-4">Our Story</h1>
        <p class="lead mb-4">Agoura is a marketplace website that makes it easy for people to safely sell and buy their homes. Launched in 2023, the Agoura website has been visited by millions of people in Egypt and other countries.</p>
        <p class="lead mb-4">At Agoura, our mission is to create value in a global marketplace where anyone can buy and sell. We believe that by creating a smarter, more sustainable way to shop, we can help people live better lives.</p>
        <p class="lead mb-4">We are committed to reducing the waste of time by giving the ability to buy and sell from everywhere, and to make this more accessible by connecting people around the world. Our team of over 500 employees is dedicated to creating a better, more connected future.</p>
      </div>
    </div>
  </div>
</section>


<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-4">Our Values</h2>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80" alt="Value 1" class="img-fluid mb-4">
            <h5 class="card-title">Empower Everyone</h5>
            <p class="card-text">We believe that everyone should have the opportunity to participate in the global economy, regardless of where they live or what they have to sell.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1454923634634-bd1614719a7b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Value 2" class="img-fluid mb-4">
            <h5 class="card-title">Be Bold</h5>
            <p class="card-text">We believe that innovation is key to creating a better world, and we are not afraid to take risks and try new things.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <img src="https://images.unsplash.com/photo-1464082354059-27db6ce50048?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Value 3" class="img-fluid mb-4">
            <h5 class="card-title">Do the Right Thing</h5>
            <p class="card-text">We believe that honesty, integrity, and transparency are essential to building trust with our users and creating a sustainable business.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <h2 class="mb-4">Meet Our Team</h2>
      <div class="col-md-4">

        <div class="card mb-4">
          <img src="https://avatars.githubusercontent.com/u/122277647?v=4" class="card-img-top" alt="Team member photo">
          <div class="card-body">
            <h5 class="card-title">Mohamed Youssef</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="https://avatars.githubusercontent.com/u/122494856?v=4" class="card-img-top" alt="Team member photo">
          <div class="card-body">
            <h5 class="card-title">Omar Alaa</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="https://avatars.githubusercontent.com/u/122675815?v=4" class="card-img-top" alt="Team member photo">
          <div class="card-body">
            <h5 class="card-title">Mahmoud Elbasiony</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="https://avatars.githubusercontent.com/u/74258945?v=4" class="card-img-top" alt="Team member photo">
          <div class="card-body">
            <h5 class="card-title">Ahmed Zein</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="https://avatars.githubusercontent.com/u/122265923?v=4" class="card-img-top" alt="Team member photo">
          <div class="card-body">
            <h5 class="card-title">Ahmed Hamada</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/assets/photos/mostafaa.jpeg" class="card-img-top" alt="Team member photo">
          <div class="card-body">
            <h5 class="card-title">Mostafa Ashraf</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
