<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <h5><a cNavLink routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
          Dashboard
        </a></h5>
      </c-nav-item>
      <c-nav-item>
        <h5><a cNavLink routerLink="/dashboard/bids" routerLinkActive="active">Bids</a></h5>
      </c-nav-item>
      <c-nav-item>
        <h5><a cNavLink routerLink="/dashboard/stats" routerLinkActive="active">
          Statistics
        </a></h5>
      </c-nav-item>
    </c-header-nav>

    

  </c-container>
  
</ng-container>
<!--</c-header>-->



