<div class="forget-password-container">
  <h2 class="forget-password-title">Forget Password</h2>
  <p class="forget-password-desc">Please enter your email address below <br> and we will send you a link to reset your password.</p>
  <form class="forget-password-form" (ngSubmit)="onSubmit()">
    <label class="forget-password-label">Email:</label>
    <input class="forget-password-input" type="email" [(ngModel)]="email" name="email" required>
    <button class="forget-password-button" type="submit">Send OTP</button>
  </form>
</div>
