.forget-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.forget-password-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  color: #4CAF50;
  text-shadow: 2px 2px #fff;
}

.forget-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 400px;
}

.forget-password-label {
  font-size: 20px;
  margin-bottom: 20px;
  color: #4CAF50;
}

.forget-password-input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forget-password-input:focus {
  background-color: #e6e6e6;
}

.forget-password-button {
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.2s ease-in-out;
  text-shadow: 1px 1px #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forget-password-button:hover {
  background-color: #3e8e41;
}

.forget-password-desc {
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
  color: #666;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
}
