<div class="container mb-4">
  <div class="row">
    <div class="card border-0 m-0 col-12 col-md-4" *ngFor="let item of items">
      <carousel [interval]="0">
        <slide *ngFor="let image of item.images">
          <a routerLink="/place/{{ item.itemId }}" class="nav">
            <img
              class="card-img-top m-1 custom-image"
              src="{{ image }}"
              alt="first slide"
              style="display: block; width: 100%"
          /></a>
        </slide>
      </carousel>
      <div class="card-body">
        <h6 class="card-title">
          {{ item.address.city | uppercase }},{{
            item.address.country | uppercase
          }}
        </h6>
        <p class="card-text">Starts From: {{ item.startBid | currency }}</p>
        <p class="card-text">Item ID: {{ item.itemId }}</p>
        <button
          style="position: relative"
          class="cart-btn"
          (click)="addToCart(item._id)"
        >
          Add to cart
          <ngx-spinner
            name="cartSpinner"
            bdColor="rgba(10, 10, 10, 0.8)"
            size="medium"
            type="ball-beat"
            color="#fff"
            [fullScreen]="false"
          ></ngx-spinner>
        </button>
      </div>
    </div>
  </div>
</div>
