<div class="fluid-container cus-bg-img d-flex justify-content-center">
  <div
    class="d-flex flex-column justify-content-between w-50 word-container px-3"
  >
    <p class="animate__animated animate__backInUp animate__delay-4s my-3">
      agora
    </p>
    <p
      class="align-self-center animate__animated animate__backInRight animate__delay-2s my-3"
    >
      The Perfect
    </p>
    <p
      class="align-self-end animate__animated animate__backInLeft animate__delay-3s my-3"
    >
      Place For You
    </p>
  </div>
</div>
<div class="container">
  <app-main-page-items-section></app-main-page-items-section>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  name="homeSpinner"
  size="medium"
  type="square-jelly-box"
  color="#fff"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
