.cus-bg-img {
  background-image: url("/assets/imgs/home/image.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.word-container{
  height: 80% !important;
}
.word-container p{
  color:rgb(255,250,250);
  font-size: 400%;
  font-weight: bolder;
  user-select: none;
}
