<div class="fluid-container cus-bg-img">
  <span
    class="agora-word-1 user-select-none animate__animated animate__backInDown"
    >agora</span
  >
  <span class="agora-word-2 user-select-none">The Perfect</span>
  <span class="agora-word-3 user-select-none">Place For You</span>
</div>
<div class="container">
  <!-- <app-category-scroller></app-category-scroller> -->
  <app-main-page-items-section></app-main-page-items-section>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  name="homeSpinner"
  size="medium"
  type="square-jelly-box"
  color="#fff"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
