<div class="container">
  <section class="section_form">
    <form
      id="consultation-form"
      class="feed-form"
      action="#"
      *ngIf="User"
      [formGroup]="validationForm"
      (ngSubmit)="updateUser()"
    >
      <input
        required=""
        placeholder="Name"
        type="text"
        formControlName="userName"
        [ngClass]="{
          'is-valid': userName.dirty && userName!.valid,
          'is-invalid': userName && !userName!.valid
        }"
        id="userNameValidation"
      />
      <div class="invalid-feedback my-3 px-3">
        Invalid User Name Must be minmum 3 charachters
      </div>
      <input
        name="email"
        required=""
        placeholder="E-mail"
        type="email"
        formControlName="email"
        [ngClass]="{
          'is-valid': email.dirty && email!.valid,
          'is-invalid': email!.dirty && !email!.valid
        }"
        id="emailValidation"
      />
      <label class="invalid-feedback px-3"
        >invalid E-mail example@example.com</label
      >
      <a class="px-3 mt-4" routerLink="/password">Change password? </a>
      <button class="cart-btn">Update</button>
    </form>
  </section>
</div>

<ngx-spinner
  bdColor="rgba(10, 10, 10, 0.8)"
  name="updateSpinner"
  size="medium"
  type="square-jelly-box"
  color="#fff"
  [fullScreen]="false"
  ><p style="color: white">Updating...</p></ngx-spinner
>
