<div class="container  ">

  <div class="row d-flex justify-content-center align-items-center h-100 m-2  rounded pb-3 alert alert-dark col-12">
    <div class="d-flex justify-content-center align-items-center  ">
      <h3 class="text-center text-black alert alert-light">Update Your Profile</h3>
    </div>
    <form [formGroup]="validationForm" class="form w-100" (ngSubmit)="updateValidatedData(username.value,email.value,age.value,phone.value,address.value,image.value,about.value)">
      <div>
        <span>User Name</span>
        <input  #username type="text" class="form-control"  [placeholder]="User.userName">
      </div>
      <div>
        <span>User Age</span>
        <input #age type="number" class="form-control"  [placeholder]="User.userName">
      </div>
      <div>
        <span>User phone</span>
        <input #phone type="number" class="form-control"  [placeholder]="User.userName">
      </div>
      <div>
        <span>User Email</span>
        <input #email type="email" class="form-control" [placeholder]="User.email">
      </div>
      <div>
        <span>User Address</span>
        <input #address type="text" class="form-control" [placeholder]="User.userName">
      </div>
      <div>
        <span>Profile Photo</span>
        <input #image type="file" class="form-control" placeholder="Upload Your Profile-image">
      </div>
      <div class="form-floating  m-1">
        <span>About Me</span>
        <textarea #about class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 100px"></textarea>
      </div>
      <div class="col-12">
        <input type="submit" class="btn btn-outline-success" value="Update">
      </div>

    </form>
  </div>
</div>
