<div class="fluid-container d-flex justify-content-evenly footer-bg py-3">
  <app-footer-column headline="Shop">
    <a href="#">Categories</a>
    <a href="#">Brands</a>
    <a href="#">Deals</a>
    <a href="#">Keywords</a>
  </app-footer-column>
  <app-footer-column headline="company">
    <a href="#">About us</a>
    <a href="#">Blog</a>
    <a href="#">Careers</a>
  </app-footer-column>
  <app-footer-column headline="Support">
    <a href="#">Contact Us</a>
    <a href="#">Help Center</a>
    <a href="#">Seller Protection</a>
    <a href="#">Buyer Protection</a>
    <a href="#">Safety Guidelines</a>
  </app-footer-column>
  <app-footer-column headline="Policy center">
    <a href="#">Terms of Service</a>
    <a href="#">Privacy</a>
    <a href="#">Sales Tax</a>
    <a href="#">Minors</a>
  </app-footer-column>
</div>
