
.a-hover:hover{
  background-color: #B0B1AB;
}

.b-hover:hover{
  border-bottom: 2px #000000 solid;
}

.badge-position{
  top: 30%;
  left: 90%;
  font-size: .8rem;

}
.b-hover-dark:hover{
  border-bottom: 2px #000000 solid;
}
.img-hover:hover{
  border:5px #000000 solid;
  opacity: .6;
  box-shadow: 0px 0px 3px 2px lightblue;
  transition: .3s;
}

.nav-pos{
  position: fixed;
  z-index: 100;
}

.nav-scrolled{
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.nav-scrolled i{
  color:white !important;
}
