<div class="bid-details">
  <h2 class="mb-3">Bid History</h2>
  <div class="row mb-5">
    <div class="col-1 product-image">
      <img src="https://placehold.co/100x100" alt="product image" />
    </div>
    <div class="col-7">
      <h4>
        <a href="#" class="text-decoration-none text-black"
          >Lorem ipsum dolor sit amet consectetur</a
        >
      </h4>
    </div>
  </div>
  <div>
    <div class="row mb-3">
      <div class="col-2">Current Bid:</div>
      <div class="col-8">EUR 181.00</div>
    </div>
    <div class="row mb-3">
      <div class="col-2">Shipping:</div>
      <div class="col-8">
        EUR 15.00 (approximately $16.47) Standard Shipping
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-2">Item number:</div>
      <div class="col-8">256054407683</div>
    </div>

    <div class="row mb-3">
      <div class="col-11 row">
        <div class="col-1">
          <span class="text-secondary">Bids: </span>
          <span class="fw-bold">53</span>
        </div>
        <div class="col-2">
          <span class="text-secondary">Bidders: </span>
          <span class="fw-bold">17</span>
        </div>
        <div class="col-2">
          <span class="text-secondary">Retractions: </span>
          <span class="fw-bold">0</span>
        </div>
        <div class="col-4">
          <span class="text-secondary">Time left: </span
          ><span class="fw-bold">3 hours 17 mins 12 secs</span>
        </div>
        <div class="col-2">
          <span class="text-secondary">Duration: </span>
          <span class="fw-bold">7 days</span>
        </div>
      </div>
    </div>

    <div class="place-bid my-3">
      <button class="btn btn-primary px-5 py-2 rounded rounded-5">
        Place Bid
      </button>
    </div>
    <hr />
  </div>
</div>
