<section class="gradient-custom-2">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-12 col-md-12">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="
              background: linear-gradient(to bottom, #1d61c7, #83aedd);
              height: 200px;
            "
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img
                src="{{ userImage }}"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1"
              />
            </div>
            <div class="ms-3" *ngIf="UserDetails" style="margin-top: 130px">
              <h5>{{ UserDetails?.name | uppercase }}</h5>
            </div>
          </div>
          <div
            class="p-4 text-black"
            style="background: linear-gradient(to bottom, #e1e8f1, #7c7c7c)"
          >
            <div class="d-flex justify-content-end text-center py-1">
              <div class="m-1">
                <a
                  routerLink="/users/{{ UserDetails?._id }}/bids"
                  routerLinkActive="active"
                  class="btn btn-outline-dark"
                  >My Bids</a
                >
              </div>
              <div class="m-1">
                <a
                  routerLink="/place/create"
                  routerLinkActive="active"
                  class="btn btn-outline-dark"
                  >Post Your Property</a
                >
              </div>
              <div class="m-1">
                <a
                  type="button"
                  class="btn btn-outline-dark"
                  routerLinkActive="active"
                  routerLink="/users/{{ UserDetails?._id }}/edit"
                  >Edit Profile
                </a>
              </div>
            </div>
          </div>

          <div class="card-body p-4 text-black border">
            <router-outlet [id]="userID"></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
