


<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-12 col-md-12">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="{{ UserDetails.profileImage }}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              <a type="button" class="btn"
                style="z-index: 1;">
                <i class="bi bi-pen-fill ">Edit Profile</i>
            </a>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ UserDetails.userName }}</h5>
              <p>{{ UserDetails.location}}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #525e6b;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>

                <a class="btn btn-outline-light">Your Bids</a>
              </div>
              <div class="px-3">
                <a class="btn btn-outline-light">Post Your Property</a>
              </div>
              <div>

                <a class="btn btn-outline-light">Bids History</a>
              </div>
            </div>
          </div>
          <!-- <router-outlet></router-outlet> -->

          <div class="card-body p-4 text-black border ">

            <div class="mb-5">
              <h2 >About</h2>
              <div class="p-4" style="background-color: #f8f9fa;">
                <h6 class="font-italic mb-1">Email : {{ UserDetails.email }}</h6>
                <h6 class="font-italic mb-1">joined since: {{ UserDetails.joinedsince }}</h6>
                <hr >
                <h4>About Me :</h4>
                <h6 class=" mb-0"> {{ UserDetails.about }}</h6>
              </div>
            </div>
          </div>

          <div class="card-body p-4 text-black  border ">
            <div class="mb-5">
              <h2 >FeedBack Rating</h2>
              <div class="p-4" style="background-color: #f8f9fa;">
                 <h3>feed back</h3>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>


<!-- <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div> -->
