<div class="mt-4">
  <a
    *ngIf="isAuthorized()"
    class="btn btn-dark border-0 my-4"
    routerLink="/home"
    >Bid Now</a
  >
  <ng-container *ngIf="!bidData">
    <div class="bid-shadow">
      <h3>You Do Not Have Any Bids Till Now</h3>
    </div>
  </ng-container>

  <ng-container *ngIf="bidData">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Apartment</th>
          <th scope="col">Bid</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bid of bidData">
          <ng-container *ngIf="bid.apartment">
            <td>
              <a [routerLink]="['/place', bid.apartment.itemId, 'history']">{{
                bid.apartment.title
              }}</a>
            </td>
            <td>{{ bid.amountMoney }}</td>
            <td>{{ bid.date | date : "dd/MM/yyyy" }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
