<div class="mt-4">
  <ng-container *ngIf="!orderData">
    <div class="bid-shadow">
      <h3>You Do Not Have Any Orders Till Now</h3>
    </div>
  </ng-container>

  <ng-container *ngIf="orderData">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Apartment</th>
          <th scope="col">Bid</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderData">
          <td>{{ order.apartment }}</td>
          <td>{{ order.amount }}</td>
          <td>{{ order.date }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
