<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      {{ toggle == true ? "Cart" : "Notifications" }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="offcanvas-body">
      <ng-template [ngIf]="toggle">
        <div
          class="d-flex flex-row justify-content-between align-items-center border-bottom"
          *ngFor="let item of cartData"
        >
          <a
            [routerLink]="['/place', item.itemId]"
            id="msg-line"
            class="mb-2 text-decoration-none"
            data-bs-dismiss="offcanvas"
          >
            <div
              class="not-body my-3 d-flex flex-row justify-content-evenly py-3"
            >
              <div class="me-3">
                <img
                  src="{{ item.images[0] }}"
                  width="50px"
                  height="50px"
                  alt="image"
                />
              </div>
              <p class="text-dark h-100 mb-0 me-2">
                {{ item.description }}
              </p>
            </div>
          </a>
          <button
            class="btn btn-dark h-25"
            (click)="deleteItem(item._id)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
      </ng-template>
      <ng-template [ngIf]="!toggle">
        <div
          class="d-flex flex-row justify-content-between align-items-center border-bottom"
          *ngFor="let item of notificationData"
        >
          <a
            [routerLink]="[item.href]"
            id="msg-line"
            class="mb-2 text-decoration-none"
            data-bs-dismiss="offcanvas"
          >
            <div
              class="not-body my-3 d-flex flex-row justify-content-evenly py-3"
            >
              <div class="me-3">
                <img
                  src="{{ '/assets/images/not-default.png' }}"
                  width="50px"
                  height="50px"
                  alt="image"
                />
              </div>
              <p class="text-dark h-100 mb-0 me-2">
                {{ item.message }}
              </p>
            </div>
          </a>
          <button
            class="btn btn-dark h-25"
            (click)="deleteItem(item._id)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div
  *ngIf="cartError"
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
