/* ::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;} */

div{
  box-sizing:border-box;
}

body {
  background: #111;
}

.horizontal-scroll-wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin:0;
  overflow-y:auto;
  overflow-x:hidden;
  scroll-behavior: smooth;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
}



.squares > div{
  width:60px;
  /* height:60px; */
  margin:10px;
}
.translate-left,.translate-right{
  cursor: pointer;
  transition: 0.3s;
  user-select: none;

}


.translate-left{
  transform: translateX(-35px);
}

.translate-right{
  transform: translate(35px);

}

.translate-left:hover,.translate-right:hover{
  background-color: #B0B1AB;
  transition: 0.3s;

}
